<a ui-sref="january2016" style="text-decoration:none;"><h2 class="pull-center text-center">January 2016</h2></a>
<a ui-sref="december2015" style="text-decoration:none;"><h2 class="pull-center text-center">December 2015</h2></a>
<a ui-sref="november2015" style="text-decoration:none;"><h2 class="pull-center text-center">November 2015</h2></a>
<a ui-sref="october2015" style="text-decoration:none;"><h2 style="text-decoration:none;" class="pull-center text-center">October 2015</h2></a>
<a ui-sref="september2015" style="text-decoration:none;"><h2 style="text-decoration:none;" class="pull-center text-center">September 2015</h2></a>
<a ui-sref="august2015" style="text-decoration:none;"><h2 style="text-decoration:none;" class="pull-center text-center">August 2015</h2></a>
<a ui-sref="july2015" style="text-decoration:none;"><h2 class="pull-center text-center">July 2015</h2></a>

<!--
<h2>TUNE!</h2>
	<div heading="TUNE! Archive" is-open="status.isFirstClosed" is-disabled="status.isFirstDisabled">
		<div class="new-tunes">
			<div class="row">
				<div>
					<div class="col-md-3 col-sm-6 animated zoomIn" style="margin: auto;" data-ng-repeat="track in music | filter: {status:'tune'} | orderBy:'-created' | limitTo:32 | limitTo:-11">
						<div class="track-container">
							<div class="track-url"><iframe width="100%" height="150px" src="{{track.url | ResourceUrl}}" frameBorder="0"></iframe></div>
								<div class="track-info-container">
									<p class="track-info track-title">{{track.title}}</p>
									<p class="track-info track-version" data-ng-if="track.version.length">({{track.version}})</p>
									<p class="track-info track-artist">{{track.artist}}</p>
									<p class="track-info track-label small text-uppercase">{{track.label}}</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
-->

